<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/login.css" />
    <link rel="stylesheet" href="./styles/global.css" />
  </head>
  <body>
    <form action="" class="signInUp-body body">
      <img src="./images/bg.png" alt="" />
      <div class="box">
        <div class="box-container">
          <div class="top-buttons">
            <button>Home</button>
            <button></button>
          </div>
          <div class="content">
            <h2>Login to your account</h2>
            <div class="field">
              <p>Username</p>
              <input type="text" placeholder="Enter username" />
            </div>
            <div class="field">
              <p>Password</p>
              <input type="text" placeholder="Enter password" />
            </div>
            <button>login</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
